In [1]:
from datasets import _fetch_us_households

In [2]:
df = _fetch_us_households()
df.tail()

          Date  US Households  Year  Month  Day
80  2020-01-01    128451000.0  2020      1    1
81  2021-01-01    129224000.0  2021      1    1
82  2022-01-01    131202000.0  2022      1    1
83  2023-01-01    131434000.0  2023      1    1
84  2024-01-01    132216000.0  2024      1    1